# Análise Base — E-commerce

Este notebook tem como objetivo realizar a exploração inicial e o tratamento básico
dos dados de um e-commerce, garantindo qualidade e entendimento antes das análises
de negócio.

In [ ]:
# Importando Bibliotecas
import pandas as pd

In [2]:
# Leitura do Dataset
df = pd.read_csv('ecommerce.csv')
df.head()

,order_id,order_date,customer_id,customer_state,product_category,price,quantity,payment_type,order_status,freight_value,total_value
0,1,2023-04-13,1273,RS,Eletrônicos,638.79,4,Pix,Entregue,21.23,2576.39
1,2,2023-12-15,1415,CE,Eletrônicos,1438.18,4,Cartão de Crédito,Cancelado,76.16,5828.88
2,3,2023-09-28,1607,CE,Beleza,825.44,1,Cartão de Crédito,Em trânsito,106.12,931.56
3,4,2023-04-17,1738,CE,Casa,919.48,3,Boleto,Cancelado,23.18,2781.62
4,5,2023-03-13,1890,BA,Moda,354.12,1,Boleto,Cancelado,59.62,413.74

In [3]:
# Estrutura dos dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          1500 non-null   int64
 1   order_date        1500 non-null   object
 2   customer_id       1500 non-null   int64
 3   customer_state    1500 non-null   object
 4   product_category  1500 non-null   object
 5   price             1500 non-null   float64
 6   quantity          1500 non-null   int64
 7   payment_type      1500 non-null   object
 8   order_status      1500 non-null   object
 9   freight_value     1500 non-null   float64
 10  total_value       1500 non-null   float64
dtypes: float64(3), int64(3), object(5)
memory usage: 129.0+ KB

In [ ]:
# Tratamento dos dados (convertendo datas)
df['order_date'] = pd.to_datetime(df['order_date'], format='%Y-%m-%d')

In [5]:
# Exploração inicial (status dos pedidos)
df['order_status'].value_counts()

order_status
Entregue       1110
Cancelado       239
Em trânsito     151
Name: count, dtype: int64

In [6]:
# Categorias de produtos
df['product_category'].nunique()

5

In [7]:
# Estados dos clientes
df['customer_state'].nunique()

9

In [8]:
# Tipo de pagamento
df['payment_type'].value_counts()

payment_type
Cartão de Crédito    533
Boleto               500
Pix                  467
Name: count, dtype: int64

# Conclusão

Com base nesta análise inicial, os dados apresentam boa estrutura para análises
de negócio, permitindo a construção de métricas como faturamento, ticket médio,
evolução temporal e desempenho por região e categoria.